.titulo {

    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.letra {

    font-size: 40px !important;
    font-weight: bold;
    text-decoration: underline;

}

.card1 {
    margin: 30px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}

.redondo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn_1 {

    padding-left: 220px;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 50px;
}

.btn_2 {

    padding-left: 680px;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 50px;

}

.boton-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.botfin {

    margin: 25px;
}
