    <!-- Navbar Section -->
  <nav class="navbar">
    <div class="navbar_container">
      <a href="#home" id="navbar_logo">Julgian SAC</a>
      <div class="navbar_toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar_menu">
        <li class="navbar_item">
          <a href="#home" class="navbar_links" id="home-page">Inicio</a>
        </li>
        <li class="navbar_item">
          <a href="#store" class="navbar_links" id="store-page">Tienda</a>
        </li>
        <li class="navbar_item">
          <a href="#about" class="navbar_links" id="about-page">Nosotros</a>
        </li>
        <li class="navbar_item">
          <a rel="icon" href="chowchow2.ico"
             class="navbar_links" id="puppy-page"></a>
        </li>
        <li class="navbar_btn">
          <a  rel="icon" href="chowchow2.ico" class="button" id="signup"></a>
        </li>
      </ul>
    </div>
  </nav>
