<section class="col-12-ds">
    <div class="dsasdad">
        <table class="table">   
            <ng-container>
              
                <img src=".\assets\details\prenda01.png" alt="Avatar hombre" width="150px" height="150px">
              
            </ng-container>
        </table>
    </div>
    <div class="center">
        <h1>{{TextoD}}</h1>
    </div>
    <div class="center">
        <p>{{TextoR02}}</p>
    </div>
    <div class="center">
        <h2>{{TextoS}}</h2> 
    </div>
    <div class="d">
            <img src=".\assets\details\prenda01.png" alt="Avatar hombre"  width="150px" height="150px">
            <p>CHOMPA 1<br>
                CHOMPA PRUEBA N°1<br>
                S/.150
            </p>
            <p-button label="Agregar al Carrito" styleClass="p-button-rounded p-button-secondary"></p-button>
</div>

<div class="d">
            <img src=".\assets\details\prenda01.png" alt="Avatar hombre"  width="150px" height="150px">
            <p>CHOMPA 1<br>
                CHOMPA PRUEBA N°1<br>
                S/.150
            </p>
            <p-button label="Agregar al Carrito" styleClass="p-button-rounded p-button-secondary"></p-button>
</div>
<div class="d">
    <img src=".\assets\details\prenda01.png" alt="Avatar hombre"  width="150px" height="150px">
    <p>CHOMPA 1<br>
        CHOMPA PRUEBA N°1<br>
        S/.150
    </p>
    <p-button label="Agregar al Carrito" styleClass="p-button-rounded p-button-secondary"></p-button>
</div>
</section>

