<main role="main" id="MainContent">
    <style type="text/css">
  .h-promo-wrapper {
    display: none !important;
  }
</style>
<section class="user-account">
  <div class="user-account-details">
    <p class="user-account-welcome">Bienvenido/a, Adrian Rondan</p>
  </div>
  <div class="user-account-container">
    <a href="#">
       <div class="user-account-card">
        <div class="user-account-card-icon">
          <i class="far fa-address-book"></i>
        </div>
        <div class="user-account-card-text">
          <h4>HISTORIAL DE PEDIDOS</h4>
          <div class="user-account-card-sep"></div>
          <p>Revisa tu historial de pedidos</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="user-account-card">
        <div class="user-account-card-icon">
          <i class="far fa-address-book"></i>
        </div>
        <div class="user-account-card-text">
          <h4>SUS DIRECCIONES</h4>
          <div class="user-account-card-sep"></div>
          <p>Agrega direcciones a tu cuenta</p>
        </div>
      </div>
    </a>
  </div>
</section>
  </main>