<section>
    <div class=" card-body shadow-2  border-round p-3 card">
        <div class="flex">
            <img src="./assets/cuenta/cuenta.png" alt="Image" height="50">
            <div class="ml-3">
                <label>Hola</label> <br>
                <label class="nombre">Manuel Alvaro Cuzquen Silva</label>
            </div>
        </div>
    </div>
    <div class="grid w-full p-3">
        <div class="card col-2">
            <p-megaMenu [model]="items"></p-megaMenu>
        </div>
        <div class="col"> <router-outlet></router-outlet>
        </div>
    </div>
</section>