<section class="formulario" id="nosotros">
  <div class="container">
    <h2>Nosotros</h2>
    <p>Somos Juligan SAC, una empresa dedicada a ofrecerte ropa a la moda y en tendencia.</p>
    <p>Trabajamos con marcas reconocidas y diseñadores emergentes para brindarte productos de alta calidad y estilo único.</p>
    <p>Nuestra misión es ayudarte a expresar tu estilo personal y destacar en cada ocasión.</p>
    <h3>Misión</h3>
    <p>Proporcionar a nuestros clientes las últimas tendencias en moda, brindando productos de alta calidad y un servicio excepcional, para que puedan expresar su estilo único y sentirse confiados en su apariencia.</p>
    <h3>Visión</h3>
    <p>Ser la tienda de referencia en moda y tendencias, reconocida por ofrecer productos de calidad y una experiencia de compra excepcional, logrando que nuestros clientes se sientan inspirados y satisfechos con su estilo personal.</p>
  </div>
</section>

  