<section>
    <!--TITULO CARRITO-->

    <!--PRODUCTOS A COMPRAR-->
    <div class="grid flex justify-content-center align-items-center" style="width: 100%;">
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="resumen" class="marco flex flex-column col-3">
            <h1 class="tamañot">Resumen de la orden</h1>
            <div class="flex justify-content-between spacio">
                <h2>
                    <b>Productos ({{cantidad}} ud.)</b>
                </h2>
                <p>S/ {{montoProducto}}</p>
            </div>
            <div class="flex justify-content-between spacio">
                <b>IGV (18%):</b>
                <p>S/ {{IGV}}</p>
            </div>
            <div class="flex justify-content-between spacio">
                <b>Total:</b>
                <h2>S/ {{ammout}}</h2>
            </div>
            <button pButton pRipple [label]="btnNext" class="p-button-success" [style]="{backgroundColor:'var(--color-prin)', margin: '15px',padding: '20px', height: '100px'}" (click)="ruteo()"></button>
        </div>
    </div>
</section>