<section>
    <!-- Imagen descripcion producto -->
    <div class="eje">
        <p-galleria [numVisible]="3" [value]="images">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" [alt]="item.alt" [title]="item.title" style="width: 68%" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item width="20%">
                <div class="grid  grid-nogutter justify-content-center">
                    <img [src]="item.thumbnailImageSrc" [alt]="item.alt" [title]="item.title" width=30% />
                </div>
            </ng-template>
        </p-galleria>
    </div>
    <!-- Descripcion producto -->
    <div class="eje">
        <h3> Chompa <br></h3>
        <div class="letra">
            Chompa Prueba N1
        </div>
        <div>
            <br>
            <p class="letra">S/95.00</p>
        </div>
        <div>
            <br>
            <p> Cod. SCR1001 - Chompa Acampanada Con Motivo Flora/Fauna, Tela: Poliester/Suplex. No Destiñe.</p>
        </div>
        <div>
            <br>
            <p>Solicita El Catálogo Completo Al Whatsapp</p>
        </div>
        <div>
            <br>
            <h3>Talla</h3>
        </div>
        <!-- tallas -->
        <div class="separador01">
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '8px 25px', margin: '10px'}"
                label="S"></p-button>
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '8px 25px', margin: '10px'}"
                label="M"></p-button>
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '8px 25px', margin: '10px'}"
                label="L"></p-button>
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '8px 25px', margin: '10px'}"
                label="XL"></p-button>
        </div>
        <!-- botones compra -->
        <div class="separador01">
            <p-inputNumber [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="500"> </p-inputNumber>

            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '06px 10px', margin: '10px'}"
                label="Agregar Al Carrito"></p-button>
            <p-button [style]="{backgroundColor:'#FFFFFF', color: '#000000', padding : '06px 10px', margin: '10px'}"
                label="Lista De Deseos" icon="fa-regular fa-heart"></p-button>
        </div>
    </div>
    <p-divider align="center"></p-divider>
    <!-- Descripcion de productos relacionados -->
    <div class="separador03"></div>
    <div class="center">
        <h1>
            <u>Descripción</u>
        </h1>
    </div>
    <div class="separador03"></div>
    <div class="center">
        <b>Prendas para pasar esta temporada con moda y estilo Retro.<br></b>
    </div>
    <div class="center">
        <b>Renueva tu guardarropa con estos polos básicos. Combínalos para armar tu look<br></b>
    </div>
    <div class="center">
        <b>perfecto.</b>
    </div>
    <div class="center02">
        Productos Relacionados
    </div>
    <!--------------------------- Carrusel de IMG ------------------------------- -->
    <div class="center03">
        <p-carousel [value]="cars">
            <ng-template let-car pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content flex">
                        <div class="p-mb-3"></div>
                        <div>
                            <h4 class="centerlimg">
                                <img src=".\assets\details\prenda01.png" style="width: 70%;" />
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.name }}
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.description }}
                            </h4>
                            <h6 class="centerlimg">
                                <p class="txtporiginal">S/.{{ car.price }}</p>
                                <p class="txtpdescuento">S/.{{ car.priced }}</p>
                            </h6>

                            <div class="centerlimg">
                                <p-button [style]="{backgroundColor:'#9b9b9b', color: '#000000', margin: '10px'}"
                                    label="Agregar Al Carrito"></p-button>
                                <div class="center06">
                                    <a href="" class="" target="_blank"><i class="fa-regular fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4 class="centerlimg">
                                <img src=".\assets\details\prenda01.png" style="width: 70%" />
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.name }}
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.description }}
                            </h4>
                            <h6 class="centerlimg">
                                <p class="txtporiginal">S/.{{ car.price }}</p>
                                <p class="txtpdescuento">S/.{{ car.priced }}</p>
                            </h6>
                            <div class="centerlimg">
                                <p-button [style]="{backgroundColor:'#9b9b9b', color: '#000000', margin: '10px'}"
                                    label="Agregar Al Carrito"></p-button>
                                <div class="center06">
                                    <a href="" class="" target="_blank"><i class="fa-regular fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4 class="centerlimg">
                                <img src=".\assets\details\prenda01.png" style="width: 70%" />
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.name }}
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.description }}
                            </h4>
                            <h6 class="centerlimg">
                                <p class="txtporiginal">S/.{{ car.price }}</p>
                                <p class="txtpdescuento">S/.{{ car.priced }}</p>
                            </h6>
                            <div class="centerlimg">
                                <p-button [style]="{backgroundColor:'#9b9b9b', color: '#000000', margin: '10px'}"
                                    label="Agregar Al Carrito"></p-button>
                                <div class="center06">
                                    <a href="" class="" target="_blank"><i class="fa-regular fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</section>