section {
  background-color: 626262;
}

.center {
  display: flex;
  justify-content: center;
}

.center02 {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-weight: bold;
  font-size: 40px !important;
}

.center03 {
  display: flex;
  justify-content: center;
  padding: 50px;
}


.letra {

  font-size: 30px !important;
  font-weight: bold;
  margin-top: 40px;

}

.letra2 {

  margin-top: 50px;

}

.separador02 {

  padding: 25px;

}

.separador03 {
  padding: 25px;
}

.center06 {

  position: absolute;
  bottom: 4em;
  height: 26em;
  text-transform: uppercase;
  padding: 1em 1.5em;
  margin-left: 300px;

}

.centerlimg {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.txtporiginal {

  text-decoration: line-through;
  margin-right: 50px;
  text-decoration-color: black;
}

.txtpdescuento {

  color: red;

}

.etiquetas {
  display: inline-block;
  font-size: 8px !important;
}

.card {

  padding: 8%;
  margin-left: auto;
  height: auto;
  display: inline-block;

}

.eje {

  padding: 1%;
  display: inline-block;

}