<section>
    <!-- Imagen descripcion producto -->
    <div class="card">
        <p-image src=".\assets\details\prenda01.png" alt="Image" width="500" [preview]="true"></p-image>
    </div>
    <!-- Descripcion producto -->
    <div class="eje">
        <h3> Chompa <br></h3>
        <div class="letra">
            Chompa Prueba N1
        </div>
        <div>
            <p class="letra">S/95.00</p>
        </div>
        <div class="letra2">
            <p> Cod. SCR1001 - Chompa Acampanada Con Motivo Flora/Fauna, Tela: Poliester/Suplex. No Destiñe.</p>
        </div>
        <div class="letra2">
            <p>Solicita El Catálogo Completo Al Whatsapp</p>
        </div>
        <div class="letra2">
            <h3>Talla</h3>
        </div>
        <!-- tallas -->
        <div class="separador01">
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '8px 25px', margin: '10px'}"
                label="S"></p-button>
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '8px 25px', margin: '10px'}"
                label="M"></p-button>
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '8px 25px', margin: '10px'}"
                label="L"></p-button>
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '8px 25px', margin: '10px'}"
                label="XL"></p-button>
        </div>
        <!-- botones compra -->
        <div class="separador01">
            <p-inputNumber [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="500"> </p-inputNumber>
            <p-button [style]="{backgroundColor:'#E5E5E5', color: '#000000', padding : '06px 10px', margin: '05px'}"
                label="Agregar Al Carrito"><i class="fa-solid fa-cart-shopping"
                    style="color: var(--color-white); margin:05px"></i></p-button>
            <p-button icon="fa-regular fa-heart"
                [style]="{backgroundColor:'#FFFFFF', color: '#000000', padding : '09px 15px', margin: '05px', border: '#000000 1px solid'}"
                label="Lista De Deseos"></p-button>
        </div>
    </div>
    <p-divider align="center"></p-divider>
    <!-- Descripcion de productos relacionados -->
    <div class="separador03"></div>
    <div class="center">
        <div class="center02">
            Productos Relacionados
        </div>
    </div>
    <div class="separador03"></div>
    <div class="center">
        <b>Prendas para pasar esta temporada con moda y estilo Retro.<br></b>
    </div>
    <div class="center">
        <b>Renueva tu guardarropa con estos polos básicos. Combínalos para armar tu look<br></b>
    </div>
    <div class="center">
        <b>perfecto.</b>
    </div>
    <!--------------------------- Carrusel de IMG ------------------------------- -->
    <div class="center03">
        <p-carousel [value]="cars">
            <ng-template let-car pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content flex">
                        <div class="p-mb-3"></div>
                        <div>
                            <h4 class="centerlimg">
                                <img src=".\assets\details\prenda01.png" style="width: 70%;" />
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.name }}
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.description }}
                            </h4>
                            <h6 class="centerlimg">
                                <p class="txtporiginal">S/.{{ car.price }}</p>
                                <p class="txtpdescuento">S/.{{ car.priced }}</p>
                            </h6>

                            <div class="centerlimg">
                                <p-button [style]="{backgroundColor:'#9b9b9b', color: '#000000', margin: '10px'}"
                                    label="Agregar Al Carrito"></p-button>
                                <div class="center06">
                                    <a href="" class="" target="_blank"><i class="fa-regular fa-heart"
                                            style="color: #000000;"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4 class="centerlimg">
                                <img src=".\assets\details\prenda01.png" style="width: 70%" />
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.name }}
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.description }}
                            </h4>
                            <h6 class="centerlimg">
                                <p class="txtporiginal">S/.{{ car.price }}</p>
                                <p class="txtpdescuento">S/.{{ car.priced }}</p>
                            </h6>
                            <div class="centerlimg">
                                <p-button [style]="{backgroundColor:'#9b9b9b', color: '#000000', margin: '10px'}"
                                    label="Agregar Al Carrito"></p-button>
                                <div class="center06">
                                    <a href="" class="" target="_blank"><i class="fa-regular fa-heart"
                                            style="color: #000000;"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4 class="centerlimg">
                                <img src=".\assets\details\prenda01.png" style="width: 70%" />
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.name }}
                            </h4>
                            <h4 class="centerlimg">
                                {{ car.description }}
                            </h4>
                            <h6 class="centerlimg">
                                <p class="txtporiginal">S/.{{ car.price }}</p>
                                <p class="txtpdescuento">S/.{{ car.priced }}</p>
                            </h6>
                            <div class="centerlimg">
                                <p-button [style]="{backgroundColor:'#9b9b9b', color: '#000000', margin: '10px'}"
                                    label="Agregar Al Carrito"></p-button>
                                <div class="center06">
                                    <a href="" class="" target="_blank"><i class="fa-regular fa-heart"
                                            style="color: #000000;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</section>