section {
  background-color: 626262;
}

.center {
  display: flex;
  justify-content: center;
}

.center02 {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-weight: bold;
  font-size: 40px !important;
}

.center03 {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.eje {
  max-width: 50%;
  height: auto;
  margin: 30px auto;
  padding: 2%;
  display: inline-block;
  background: transparent;
}

.letra {

  font-size: 30px !important;
  font-weight: bold;
  margin-top: 20px;

}
.letra2 {

  margin-top: 20px;

}

.separador01 {

  padding-top: 20px;

}

.separador02 {

  padding: 25px;

}

.separador03 {
  padding: 15px;
}

.center06 {

  position: absolute;
  bottom: 4em;
  height: 23.6em;
  text-transform: uppercase;
  padding: 1em 1.5em;
  margin-left: 280px;

}

.centerlimg {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.txtporiginal {

  text-decoration: line-through;
  margin-right: 50px;
  text-decoration-color: black;
}

.txtpdescuento {

  color: red;

}