 <!-- Hero Section-->
 <div class="hero" id="home">
    <div class="hero_container ">
      <h1 class="hero_heading ">Que la moda sea parte <br>de tu dia a dia</h1>
      <b class="hero_description "></b>
    </div>
  </div>
  <!--2daparte-->
  <div class="banner-section spad">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="single-banner">
            <img src="assets/imgs_inicio/boy.png" alt="">
              <div class="inner-text">
                <h4>Men’s</h4>
              </div>
           </div>
        </div>
    <div class="col-lg-4">
      <div class="single-banner">
        <img src="assets/imgs_inicio/women.png" alt="">
          <div class="inner-text">
              <h4>Women’s</h4>
          </div>
      </div>
    </div>
        <div class="col-lg-4">
          <div class="single-banner">
            <img src="assets/imgs_inicio/kid.png" alt="">
          <div class="inner-text">
            <h4>Kid’s</h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Seccion3-->
  <section class="women-banner spad">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-3">
    <div class="product-large set-bg" data-setbg="assets/imgs_inicio/womenm.png" style="background-image: url(&quot;assets/imgs_inicio/womenm.png&quot;);">
    <h2>Women’s</h2>
    <a href="#">Discover More</a>
    </div>
    </div>
    <div class="col-lg-8 offset-lg-1">
    <div class="filter-control">
    <ul>
    <li class="active">Clothings</li>
    <li>HandBag</li>
    <li>Shoes</li>
    <li>Accessories</li>
    </ul>
    </div>
    <div class="product-slider owl-carousel owl-loaded owl-drag"> 
      <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>   
     </div>
    </div>
    </div>
  </div>
    </section>
    <!--Seccion 4-->

    <section class="women-banner spad">
      <div class="container-fluid">
      <div class="row">
      <div class="col-lg-3">
      <div class="product-large set-bg" data-setbg="assets/imgs_inicio/man.png" style="background-image: url(&quot;assets/imgs_inicio/man.png&quot;);">
      <h2>Women’s</h2>
      <a href="#">Discover More</a>
      </div>
      </div>
      <div class="col-lg-8 offset-lg-1">
      <div class="filter-control">
      <ul>
      <li class="active">Clothings</li>
      <li>HandBag</li>
      <li>Shoes</li>
      <li>Accessories</li>
      </ul>
      </div>
      <div class="product-slider owl-carousel owl-loaded owl-drag"> 
        <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>   
       </div>
      </div>
      </div>
    </div>
      </section>