<section class="grid s-store">
    <div class="col">
        <div class="store-filtro">
            <!--Precios-->
            <div class="card flex flex-wrap gap-3 p-fluid">
                <div class="flex-auto">
                    <label class="mb-2 block font-bold" for="stacked">Precio Min</label>
                    <p-inputNumber [(ngModel)]="precioMin" [showButtons]="true" inputId="stacked" [min]="10"
                        [max]="1000" mode="currency" currency="PEN" (ngModelChange)="filtrar()"> </p-inputNumber>
                </div>
                <div class="flex-auto">
                    <label class="mb-2 block font-bold" for="minmax-buttons">Precio Max</label>
                    <p-inputNumber [(ngModel)]="precioMax" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                        [min]="40" [max]="400" mode="currency" currency="PEN" (ngModelChange)="filtrar()">
                    </p-inputNumber>
                </div>
            </div>
            <!-- marcas -->
            <div class="card ">
                <h3> Marca </h3>
                <div class="flex flex-column gap-2 marca">
                    <div *ngFor="let categoryMarca of categories" class="field-checkbox">
                        <p-checkbox name="group" [value]="categoryMarca.abreviItem" [(ngModel)]="selectedCategories"
                            [inputId]="categoryMarca.abreviItem" (ngModelChange)="filtrar()"></p-checkbox>
                        <label class="reducctam" [for]="categoryMarca.abreviItem">{{ categoryMarca.vistaItem }}</label>
                    </div>
                </div>
            </div>
             <!-- Etiquetas -->
             <div class="card">
                <h3> Etiquetas </h3>
                <div class="flex flex-column gap-2 marca">
                    <p-chip class="flex align-items-start" *ngFor="let etiqueta of values" [label]="etiqueta" [removable]="true" (onRemove)="removeEtiqueta(etiqueta)"></p-chip>
                    <p-dropdown [options]="etiquetas" [(ngModel)]="selectedCountry" optionLabel="abreviItem"
                        [filter]="true" filterBy="vistaItem" [showClear]="true" placeholder="Selecciona una etiqueta"
                        (ngModelChange)="updateValues()">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                                <div>{{ selectedCountry.vistaItem }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-etiqueta pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ etiqueta.vistaItem }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <!-- tallas -->
            <div class="card">
                <h3> Talla </h3>
                <div class="flex flex-column gap-2 talla">
                    <p-selectButton [options]="categoriesTalla" [(ngModel)]="selectedCategoriesTalla" [multiple]="true"
                        optionLabel="vistaItem" optionValue="abreviItem" (ngModelChange)="filtrar()"></p-selectButton>
                </div>
            </div>
            <!-- color -->
            <div class="card ">
                <h3> Color </h3>
                <div class="flex-wrap gap-3 mb-4 color">
                    <div class="card flex flex-wrap">
                        <p-checkbox *ngFor="let color of colores" name="group" class="btn-sel gap-1"
                            [style.background]="color.nombre_item" [value]="color.abrevi_item"
                            [(ngModel)]="selectedCategoriesColors" [inputId]="color.nombre_item"
                            (ngModelChange)="filtrar()"></p-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 store-catalogo">
        <!--Categorias-->
        <div class="store-catego flex align-items-center justify-content-between">
            <h1 *ngFor="let categoria of categorias">{{ categoria.vistaItem }}</h1>
        </div>
        <!--Productos-->
        <div>
            <u class="categoriaTipo">
                <h1>{{categoriaActual}}</h1>
            </u>
        </div>
        <div class="flex store-imgcatego flex-wrap justify-content-center">
            <div class="card col" *ngFor="let producto of productos">
                <p-card [header]="producto.nombre_product" [subheader]="producto.etiquetas"
                    [style]="{ width: '289px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" class="img-card" src="..\assets\Store\image 14.jpg"
                            *ngIf="producto.imagen !== null; else elseTemplate">
                        <ng-template #elseTemplate>
                            <img alt="Card" class="img-card" src="..\assets\Store\image 14.jpg">
                        </ng-template>
                    </ng-template>
                    <div class="cont-card flex justify-content-center">
                        <del *ngIf="producto.is_precio_desc_product, else sinTachado">
                            <p class="precio">S/ {{ producto.precio_uni }}</p>
                        </del>
                        <ng-template #sinTachado>
                            <p class="precio">S/ {{ producto.precio_uni }}</p>
                        </ng-template>
                        <p class="precio descuento" *ngIf="producto.is_precio_desc_product"><b>S/ {{
                                producto.precio_descu_product }}</b></p>
                    </div>
                    <ng-template pTemplate="footer">
                        <p-button
                            [style]="{backgroundColor:'#E5E5E5', color: '#000000', 'border-radius': '25px 25px 0px 0px', padding : '8px 25px'}"
                            class="btnCompra" label="Agregar a carrito"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
    <div class="card flex justify-content-center" style="width: 100%;">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[6,12, 24, 30]"></p-paginator>
    </div>
</section>