 /* * {
    border: 1px solid rgb(54, 52, 52);
} */

 .s-store {
     margin: 30px;
 }

 .store-imgcatego {
     margin-top: 25px;
 }

 div>img {
     width: 100%;
     height: 100%;
 }

 .card {
     padding: 25px;
 }

 .img-card {
     height: 250px;
     object-fit: cover;
     padding: 5px;
 }

 .ng-star-inserted {
     text-align: center;
 }

 .precio {
     margin: 0 25px;
 }

 .descuento {
     color: red;
 }


 