
 .s-store {
     margin: 30px;
 }

 .store-imgcatego {
     margin-top: 25px;
 }

.store-filtro{
    background-color: white;
    border-radius: 3% ;
    margin-right: 10px;
}

div > img {
    width: 100%;
    height: 100%;
}

.card {
    padding: 25px;
}

 .img-card {
     height: 250px;
     object-fit: cover;
     padding: 5px;
 }

 .ng-star-inserted {
     text-align: center;
 }

 .precio {
     margin: 0 25px;
 }

 .descuento {
     color: red;
 }

.categoriaTipo > * {
    font-size: var(--Titulo-size);
    margin-top: 45px;
}
 
.reducctam {
    font-size: var(--Parrafo-size);
}

.marca {
    margin-top: 15px;
}

.talla {
    margin-top: 10px;
    padding: 7px;
}

.color{
    margin-top: 10px;
}


p-checkbox.btn-sel {
    padding: 10px 10px ;
    border-radius: 50% ;
    margin: 5px ;
    display:inline-block;
  }
  
  :host ::ng-deep .btn-sel .p-checkbox-box  {
    border: 0px solid transparent !important; 
    background: transparent !important; 
}
  
  