 /* * {
    border: 1px solid rgb(54, 52, 52);
} */

.s-store {
    margin: 30px;
}

.store-imgcatego {
    margin-top: 25px;
}

div > img {
    width: 100%;
    height: 100%;
}

.card {
    padding: 25px;
}

.img-card {
    height: 250px; 
    object-fit: cover; 
    padding: 5px;
}

.reducctam {
    font-size: var(--Parrafo-size);
}

.marca {
    margin-top: 15px;
}

.talla {
    margin-top: 10px;
}

.color{
    margin-top: 10px;
}

.rojo{
    background-color: red;
}

.negro{
    
    background-color: black;
}

.blanco{
    background-color: white;
}

.verde{
    background-color: green;
}

.morado{
    background-color: purple;
}

.azul{
    background-color: blue;
}

.marron{
    background-color: brown;
}
