.formulario {
    width: 100%;
}

.metodo {
    background-color: white;
    padding: 100px;
}

.cartel {
    text-align: left;
    border-radius: 21px;
    box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.15);
    padding: 100px;
}

.p-inputtext.p-component.p-element{
    width: 100%;
    margin: 15px auto;
}

:host ::ng-deep .p-dropdown.p-component{
    width: 100%;
    margin: 6px auto;
}

.esp-reg{
    margin: 15px;
}

.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
  }

  .divider {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .divider span {
    background-color: #fff;
    padding: 0 0.75rem;
    font-size: 0.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    border-bottom: 1px solid #000;
    color: rgba(0, 0, 0, 0.9);
  }

  .btn-rec-olv{
    margin: 20px;
  }

  .card-g{
    margin: 20px;
  }

  .color-olv{
    color: var(--color-prin);
    font-weight: bold;
  }

  .logo-esp{
    padding: 20px;
  }

  .contenedor-a {
    flex-wrap: nowrap;
  }
  
  .wrap {
    flex-wrap: wrap;
  }

  :host ::ng-deep .p-inputtext.p-component.p-element.p-password-input.p-filled{
      width: 100%;
  }

  :host ::ng-deep  .p-inputtext.p-component.p-element.p-password-input{
    width: 100%;
  }

  /**/