<!-- Hero Section-->
<div class="hero" id="home">
  <div class="hero_container ">
    <h1 class="hero_heading ">Que la moda sea parte <br>de tu dia a dia</h1>
    <b class="hero_description "></b>
  </div>
</div>
<!--2daparte-->
<div class="banner-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <a (click)="navegar('CAB');" style="cursor: pointer;">
          <div class="single-banner">
            <img src="assets/imgs_inicio/boy.png" alt="">
            <div class="inner-text">
              <p-button (click)="navegar('CAB');">
                <h4>Caballeros</h4>
              </p-button>
            </div>
          </div>
        </a>
        
      </div>
      <div class="col-lg-4">
        <a (click)="navegar('DAM');" style="cursor: pointer;">
          <div class="single-banner">
            <img src="assets/imgs_inicio/women.png" alt="">
            <div class="inner-text">
              <p-button (click)="navegar('DAM');">
                <h4>Damas</h4>
              </p-button>
            </div>
          </div>
        </a>        
      </div>
      <div class="col-lg-4">
        <a (click)="navegar('NIÑ');" style="cursor: pointer;">
          <div class="single-banner">
            <img src="assets/imgs_inicio/kid.png" alt="">
            <div class="inner-text">
              <p-button (click)="navegar('NIÑ');">
                <h4>Niños</h4>
              </p-button>
            </div>
          </div>
        </a>        
      </div>
      <div class="col-lg-4">
        <a (click)="navegar('ACC');" style="cursor: pointer;">
          <div class="single-banner">
          <img src="assets/imgs_inicio/accesorios3.png" alt="">
          <div class="inner-text">
            <p-button (click)="navegar('ACC');">
              <h4>Accesorios</h4>
            </p-button>
          </div>
        </div>
      </a>        
      </div>
    </div>
  </div>
</div>
<!--Seccion3-->
<section class="women-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <a (click)="navegar('DAM');" style="cursor: pointer;">
          <div class="product-large set-bg" data-setbg="assets/imgs_inicio/womenm.png"
            style="background-image: url(&quot;assets/imgs_inicio/womenm.png&quot;);">
            <h2>Damas</h2>
            <a (click)="navegar('DAM');" style="cursor: pointer;">Descubre más</a>
          </div>
        </a>
      </div>
      <div class="col-lg-8 offset-lg-1">
        <div class="product-slider owl-carousel owl-loaded owl-drag">
          <div class="card">
            <p-carousel [value]="productosDamas" [numVisible]="2" [numScroll]="2" [circular]="false"
              [responsiveOptions]="responsiveOptions">
              <ng-template let-producto pTemplate="item">
                <p-card [header]="producto.nombre_product" [subheader]="producto.etiquetas"
                  [style]="{ width: '289px', height: '480px','margin-right': '15px', 'margin-bottom': '25px' }">
                  <ng-template pTemplate="header">
                    <img alt="Card" class="img-card" src="..\assets\Store\image 14.jpg"
                      *ngIf="producto.imagen !== null; else elseTemplate">
                    <ng-template #elseTemplate>
                      <img alt="Card" class="img-card" src="..\assets\Store\image 14.jpg">
                    </ng-template>
                  </ng-template>
                  <div class="cont-card flex justify-content-center">
                    <del *ngIf="producto.is_precio_desc_product, else sinTachado">
                      <p class="precio">S/ {{ producto.precio_uni }}</p>
                    </del>
                    <ng-template #sinTachado>
                      <p class="precio">S/ {{ producto.precio_uni }}</p>
                    </ng-template>
                    <p class="precio descuento" *ngIf="producto.is_precio_desc_product"><b>S/ {{
                        producto.precio_descu_product }}</b></p>
                  </div>
                  <ng-template pTemplate="footer flex">
                    <div class="flex justify-content-center">
                      <p-button
                        [style]="{backgroundColor:'#E5E5E5', color: '#000000', 'border-radius': '165px 25px 0px 0px', padding : '8px 25px'}"
                        label="Agregar a carrito"></p-button>
                      <p-button icon="pi pi-eye"
                        [style]="{backgroundColor:'#E5E5E5', color: '#000000', 'border-radius': '25px 165px 0px 0px', padding : '8px 25px 8px 15px', 'margin-left' : '5px' }"
                        (click)="visualizar(producto.id_product)"></p-button>
                    </div>
                  </ng-template>
                </p-card>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Seccion 4-->

<section class="women-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <a (click)="navegar('CAB');" style="cursor: pointer;">
          <div class="product-large set-bg" data-setbg="assets/imgs_inicio/man.png"
          style="background-image: url(&quot;assets/imgs_inicio/man.png&quot;);">
          <h2>Caballeros</h2>
          <a (click)="navegar('CAB');" style="cursor: pointer;">Descubre más</a>
        </div>
        </a>
      </div>
      <div class="col-lg-8 offset-lg-1">
        <div class="product-slider owl-carousel owl-loaded owl-drag">
          <div class="card">
            <p-carousel [value]="productosCaballeros" [numVisible]="2" [numScroll]="2" [circular]="false"
              [responsiveOptions]="responsiveOptions">
              <ng-template let-producto pTemplate="item">
                <p-card [header]="producto.nombre_product" [subheader]="producto.etiquetas"
                  [style]="{ width: '289px', height: '480px', 'margin-right': '15px', 'margin-bottom': '25px' }">
                  <ng-template pTemplate="header">
                    <img alt="Card" class="img-card" src="..\assets\Store\image 14.jpg"
                      *ngIf="producto.imagen !== null; else elseTemplate">
                    <ng-template #elseTemplate>
                      <img alt="Card" class="img-card" src="..\assets\Store\image 14.jpg">
                    </ng-template>
                  </ng-template>
                  <div class="cont-card flex justify-content-center">
                    <del *ngIf="producto.is_precio_desc_product, else sinTachado">
                      <p class="precio">S/ {{ producto.precio_uni }}</p>
                    </del>
                    <ng-template #sinTachado>
                      <p class="precio">S/ {{ producto.precio_uni }}</p>
                    </ng-template>
                    <p class="precio descuento" *ngIf="producto.is_precio_desc_product"><b>S/ {{
                        producto.precio_descu_product }}</b></p>
                  </div>
                  <ng-template pTemplate="footer flex">
                    <div class="flex justify-content-center">
                      <p-button
                        [style]="{backgroundColor:'#E5E5E5', color: '#000000', 'border-radius': '165px 25px 0px 0px', padding : '8px 25px'}"
                        label="Agregar a carrito" (click)="show(producto.id_product)"></p-button>
                      <p-button icon="pi pi-eye"
                        [style]="{backgroundColor:'#E5E5E5', color: '#000000', 'border-radius': '25px 165px 0px 0px', padding : '8px 25px 8px 15px', 'margin-left' : '5px' }"
                        (click)="visualizar(producto.id_product)"></p-button>
                    </div>
                  </ng-template>
                </p-card>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>