/* Hero Section*/
.hero{
    background: url('src/assets/imgs_inicio/modelo.png');
    height: 100vh;  
    background-position: center;
    background-size: cover;
    padding: 280px 0;
  }
  .hero_container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: initial;
    max-width: 1200px;
    height: 90%;
    text-align: center;
    padding:30px;
  }
  .hero_heading {
    font-size: 64px;
    margin-bottom: 24px;
    color: #ffffff;
    text-align: left;
    font-family: var(--Titulo);
  }
  .hero_description {
    font-size: 50px;
    margin-bottom: 10px;
    background: #da22ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #ffffff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #ffffff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
  }
  /*Seccion2*/
  .banner-section {
    padding: 80px 50px;
  }
  .spad {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  @media (min-width:992px) {
    .col-lg-4 {
      -ms-flex: 0 0 24.333333%;
      flex: 0 0 24.333333%;
      max-width: 24.333333%;
    }
  }
  
  .col-lg-4{
    position: relative;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .single-banner {
    position: relative;
    z-index: 1;
  } 
  .single-banner::before {
    position: absolute;
    left: 35px;
    top: 30px;
    border: 13px solid #ffffff;
    content: "";
    opacity: 0.3;
    width: calc(100% - 70px);
    height: calc(100% - 60px);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.single-banner img {
  min-width: 100%;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.single-banner .inner-text {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.single-banner .inner-text button {
    color: #252525;
    font-weight: 700;
    padding: 11px 28px;
    background: #ffffff;
    border-radius: 2px;
}

h4 {
  font-size: 24px;
}
/*Seccion 3*/
.women-banner {
  padding-right: 65px;
  padding-left: 65px;
  padding-top: 0;
  padding-bottom: 80px;
}

@media (min-width: 992px){
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}

.col-lg-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.product-large h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 18px;
}
.product-large a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.product-large a:before {
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  content: "";
}
.product-large {
  height: 620px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  padding-top: 285px;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@media (min-width: 992px){
.offset-lg-1 {
    margin-left: 8.333333%;
}
}

@media (min-width: 992px){
.col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
}
.col-lg-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.filter-control {
  text-align: center;
  margin-bottom: 45px;
  padding-top: 32px;
}
.filter-control ul li.active {
  color: #171717;
}
.filter-control ul li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  color: #b2b2b2;
  margin-right: 22px;
  position: relative;
  cursor: pointer;
}

.owl-carousel,.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%
}

.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled {
  display: none
}

.owl-carousel.owl-loaded {
  display: block
}

.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block
}

.owl-carousel.owl-hidden {
  opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab
}

.owl-carousel.owl-rtl {
  direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
  float: right
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
  z-index: 0
}

.owl-carousel .owl-animated-out {
  z-index: 1
}

.owl-carousel .fadeOut {
  animation-name: fadeOut
}

@keyframes fadeOut {
  0% {
      opacity: 1
  }

  100% {
      opacity: 0
  }
}

.owl-height {
  transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background:  no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn {
  display: none
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%
}

.product-item {
  margin-bottom: 26px;
}
.product-item .pi-pic {
  overflow: hidden;
  position: relative;
}
.owl-carousel .owl-item img {
  display: block;
  width: auto;
}
.product-item .pi-pic img {
  min-width: 100%;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.product-item .pi-pic .icon {
  font-size: 20px;
  color: #252525;
  position: absolute;
  right: 21px;
  top: -15px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.icon_bag_alt, .icon_loading, .icon_heart_alt {
  font-family: 'ElegantIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.product-item .pi-pic .icon {
  font-size: 20px;
  color: #252525;
  position: absolute;
  right: 21px;
  top: -15px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.product-item .pi-pic ul {
  position: absolute;
  left: 0;
  bottom: -52px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  width: 100%;
}
ul{
  padding: 0;
  margin: 0;
}
ul{
  margin-top: 0;
  margin-bottom: 1rem;
}
.product-item .pi-pic ul li {
  list-style: none;
  display: inline-block;
  background: #ffffff;
}
.product-item .pi-text {
  text-align: center;
  padding-top: 26px;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}
.product-slider .owl-dots {
  text-align: center;
  margin-top: 27px;
}
.product-item .pi-pic {
  overflow: hidden;
  position: relative;
}
.product-item .pi-pic .sale {
  color: #ffffff;
  font-size: 10px;
  background: #76BC42;
  position: absolute;
  left: 0;
  top: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
}
/*sec4*/


.offset-lg-1 {
    margin-left: 8.333333%;
}


.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.card {
  padding: 25px;
}

.img-card {
  height: 250px;
  object-fit: cover;
  padding: 5px;
}

.precio {
  margin: 0 25px 20px 25px;
}

.descuento {
  color: var(--color-prin);
}

:host ::ng-deep .p-card-title,:host ::ng-deep .p-card-subtitle {
  text-align: center;
}

:host ::ng-deep .p-card.p-component{
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

:host ::ng-deep .card.col.ng-star-inserted{
  display: flex !important;
  justify-content: center;
}


:host ::ng-deep .p-button{
  background-color: var(--color-prin);
  color: black;
}

:host ::ng-deep .p-button:enabled:hover{
  background-color: var(--color-prin);
}

:host ::ng-deep .p-card-title{
  font-size: 20px;
  height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}


:host ::ng-deep .p-card-subtitle{
  height: 58px;
  display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-card.p-component {
  height: 512px !important;
}
