.center02 {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-weight: bold;
    font-size: 40px !important;
  }

.exs{
    color: var(--color-prin);
}

.postl{
    /* padding: 50px; */
}

.volver{
    display: flex;
    justify-content: left;
}

.reducc{
    /* font-size: 12px; */
    grid-row: 50px ;
}

.colorTitulo {
    color: var(--color-prin);
}
