.center02 {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
    font-size: 40px !important;
  }

.exs{
    color: var(--color-prin);
}

.postl{
    /* padding: 50px; */
}

.volver{
    display: flex;
    justify-content: left;
}

.reducc{
    /* font-size: 12px; */
    grid-row: 50px ;
}

/* :host ::ng-deep .p-timeline-event-content {
    text-align: center;
    font-size: 10px;
    width: 100px;
} */