<div style="background-color: white;" class="p-3">
    <div class="container">
        <article class="card">
            <div class=" mb-3 mt-3 ">
                <div class="center02"> Mis Pedidos / Seguimiento </div>
                <div class="flex justify-content-center">
                    <div class=" card-body shadow-2 surface-card border-round p-5 card "
                        style="background-color: #F9F9F9;">
                        <h4 class="colorTitulo">Compras N°: OD45345345435</h4>
                        <div class=" flex justify-content-between w-full">
                            <img src="./assets/seguimiento/laptop.png" alt="Image" height="250" class="m-3">
                            <div class="flex">
                                <div class="card-body flex flex-column row">
                                    <div class="col"> <strong class="colorTitulo">Tiempo estimado de la orden:</strong>
                                        <br>29 nov
                                        2023
                                    </div>
                                    <div class="col"> <strong class="colorTitulo">Horario de entrega:</strong> <br>
                                        Entre 08:00 a
                                        18:00
                                        horas</div>
                                    <div class="col"> <strong class="colorTitulo">Dirección de entrega:</strong> <br> Alfonso
                                        Ugarte 1526,
                                        Sullana.
                                        Piura </div>
                                    <div class="col"> <strong class="colorTitulo">Contado de entrega:</strong> <br> 
                                        +51 5674899 </div>
                                    <div class="col"> <strong class="colorTitulo">Telefono de entrega:</strong> <br> 
                                        987654321 </div>
                                        
                                    <div class="col"> <strong class="colorTitulo">Correo de entrega:</strong> <br> 
                                        bryleo2009@gmail.com </div>
                                </div>
                            </div>
                            <div>
                                <p-timeline [value]="events1">
                                    <ng-template pTemplate="content" let-event>
                                        <small class="p-text-secondary">{{ event.date }}</small>
                                    </ng-template>
                                    <ng-template pTemplate="opposite" let-event>
                                        {{ event.status }}
                                    </ng-template>
                                </p-timeline>
                            </div>
                        </div>
                    </div>
                </div>
                <button pButton pRipple label="Volver" icon="pi pi-angle-left"
                    [style]="{backgroundColor:'var(--color-prin)', color: '#E5E5E5'}"></button>
            </div>

        </article>
    </div>
</div>