<section class="mt-5 mb-5">
    <!--TITULO CARRITO-->
    <div class="titulo">
        <h1 class="letra">
            Carrito de compras
        </h1>
    </div>
    <!--PRODUCTOS A COMPRAR-->
    <div class="card1">
        <p-dataView #dv [value]="products" [rows]="5" [paginator]="true">
            <ng-template let-product pTemplate="listItem">
                <div class="col-12">
                    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                        <img class="w-9 sm:w-16rem xl:w-9rem block xl:block mx-auto border-round"
                            src=".\assets\details\prenda01.png" [alt]="product.name" />
                        <div
                            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                            <div class="flex flex-column align-items-center sm:align-items-start gap-4">
                                <div class="text-2xl font-bold text-900">{{product.nombre_product}}</div>
                                <p-inputNumber [(ngModel)]="product.cantidad" suffix=" ud." mode="decimal"
                                    [useGrouping]="false" inputId="minmax-buttons" [min]="1" [max]="500" [disabled]="true"></p-inputNumber>
                                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-tag"></i>
                                        <span class="font-semibold">{{product.marca}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">                                
                                <ng-container *ngIf="product.is_precio_desc_product; else elseTemplate">
                                    <p class="precio descuento text-2xl font-bold">S/{{ product.precio_descu_product }}</p>
                                    <p class="precio "><del>S/{{ product.precio_uni }}</del></p>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <p class="text-xl precio" >{{ 'S/' + product.precio_uni}}</p>
                                </ng-template>
                                <p-toast></p-toast>
                                <p-confirmPopup></p-confirmPopup>
                                <p-button class="boton-container" icon="pi pi-trash" styleClass="p-button-rounded"
                                    [style]="{backgroundColor:'var(--color-prin)', color: '#E5E5E5'}"
                                    (click)="confirm($event,product.id_product)"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <div>
        <title>Resumen de la orden</title>

        
    </div>
    <!--BOTONES DE AGREGAR Y PAGAR-->
    <div class="flex justify-content-center botfin">
        <p-button label="Agregar más Productos" icon="pi pi-tag" iconPos="right" routerLink="/store"
            [style]="{backgroundColor:'#000000', color: '#E5E5E5', padding : '15px 30px', margin: '0px 100px'}"></p-button>
        <p-button label="Pagar" icon="fa-solid fa-cart-shopping" iconPos="right" routerLink="/trazabilidad/entrega"
            [style]="{backgroundColor:'var(--color-prin)', color: '#000000', padding : '15px 10px', margin: '0px 100px'}"
            *ngIf="products.length > 0"></p-button>
    </div>
</section>