.center {
    display: flex;
    justify-content: center;
  }
  
  .center02 {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
    font-size: 40px !important;
  }

.center03 {

    /* padding:25px; */
    margin: 100px;
  }

  :host ::ng-deep .p-card-title,:host ::ng-deep .p-card-subtitle {
    text-align: center;
  }
  
  :host ::ng-deep .p-card.p-component{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
  
  :host ::ng-deep .card.col.ng-star-inserted{
    display: flex !important;
    justify-content: center;
  }
  
  :host ::ng-deep .p-element.p-button-icon-only.p-inputnumber-button.p-inputnumber-button-down.p-button.p-component,
  :host ::ng-deep .p-element.p-button-icon-only.p-inputnumber-button.p-inputnumber-button-up.p-button.p-component{
      background-color: var(--color-prin);
  }
  
  :host ::ng-deep .p-inputtext.p-component.p-element.p-inputnumber-input.p-filled{
    width: 80px !important;
  }