    <!-- Navbar Section -->
  <nav class="navbar">
    <div class="navbar_container">
      <img routerLink="/" src="assets/imgs_inicio/L3.png" href="#home" id="navbar_logo"alt="">
      <div class="navbar_toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar_menu">
        <li class="navbar_item">
          <a routerLink="/" class="navbar_links" id="home-page">Inicio</a>
        </li>
        <li class="navbar_item">
          <a routerLink="/store" class="navbar_links" id="store-page">Tienda</a>
        </li>
        <li class="navbar_item">
          <a href="#about" class="navbar_links" id="about-page">Nosotros</a>
        </li>
        <li class="navbar_ico">
          <a href="" class=""><i class="fa-solid fa-user-tag" style="color: var(--color-white); margin:10px"></i></a>
        </li>
        <li class="navbar_ico">
          <a href="" class=""><i class="fa-regular fa-heart" style="color: var(--color-white); margin:10px"></i></a>
        </li>
        <li class="navbar_ico">
          <a routerLink="/pedido" class=""><i class="fa-solid fa-cart-shopping" style="color: var(--color-white); margin:10px" pBadge value="2" styleClass="mr-2" ></i></a>
        </li>
      </ul>
    </div>
  </nav>

  


