<section style="background-color: white;" class="p-3">
    <div [ngClass]="{'contenedor-a': true, 'wrap': flexWrap}" class="flex justify-content-center ">
        <!-- Primero verifica si esta logeado o no, si no esta logeado, entonces Login -->
        <div class="text-center flex flex-column align-items-center justify-content-center logo-esp m-5">
            <img src="./assets/imgs_inicio/L0.png" alt="Image" height="80" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Registrate</div>
            <div class="text-900 text-xl font-medium mb-3">"¡Únete y sé parte grandes descuentos y promociones!"</div>
        </div>
        <div class="grid" style="width: 100%;">
            <formRegistro class="col-12 flex flex-column justify-content-center" [formGroup]="formRegistro" #frm="ngForm">
                <div *ngIf="porCorreo">
                    <div class="flex">
                        <div class="col-6">
                            <div class="mb-2">

                                <p-fieldset>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center text-primary">
                                            <span class="pi pi-user mr-2"></span>
                                            <span class="font-bold text-lg">Datos personales</span>
                                        </div>
                                    </ng-template>
                                    <div class="card flex justify-content-center mb-5">
                                        <label class="mr-2" for="">DNI </label> <p-inputSwitch
                                            formControlName="checked"></p-inputSwitch><label class="ml-2" for="">C. E.
                                        </label>
                                    </div>
                                    <span class="p-float-label">
                                        <input pInputText formControlName="numDoc" />
                                        <label htmlFor="username">Numero de documento</label>
                                    </span>
                                    <span class="p-float-label">
                                        <input pInputText formControlName="nombre" />
                                        <label htmlFor="username">Nombres</label>
                                    </span>
                                    <span class="p-float-label">
                                        <input pInputText formControlName="apellidos" />
                                        <label htmlFor="username">Apellidos</label>
                                    </span>
                                    <span class="p-float-label m-2">
                                        <p-calendar [style]="{width: '100%'}" formControlName="fechaNac"></p-calendar>
                                        <label htmlFor="username">Fecha de Nacimiento</label>
                                    </span>
                                </p-fieldset>
                            </div>
                            <div class="mb-2">
                                <p-fieldset>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center text-primary">
                                            <span class="pi pi-phone mr-2"></span>
                                            <span class="font-bold text-lg">Datos de contacto</span>
                                        </div>
                                    </ng-template>
                                    <span class="p-float-label">
                                        <input pInputText formControlName="numCel" />
                                        <label htmlFor="username">Número de celular</label>
                                    </span>
                                </p-fieldset>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="mb-2">
                                <p-fieldset [style]="{height: '100%'}">
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center text-primary">
                                            <span class="pi pi-map-marker mr-2"></span>
                                            <span class="font-bold text-lg">Datos de Direccion</span>
                                        </div>
                                    </ng-template>
                                    <div class="col-12">
                                        <div class="formRegistro-group selectores col flex flex-column">
                                            <p-dropdown [style]="{width: '100%'}" formControlName="departamentoPaciente"
                                                [(ngModel)]="selectedDepartment" name="selectedDepartment"
                                                placeholder="Departamento"
                                                (ngModelChange)="updateDistrictsAndProvinces()" id="departmentSelect"
                                                [options]="departments" optionLabel="nombre_departamento"></p-dropdown>
                                        </div>
                                        <div class="formRegistro-group selectores col flex flex-column">
                                            <p-dropdown formControlName="provinciaPaciente"
                                                [(ngModel)]="selectedProvince" name="selectedProvince"
                                                placeholder="Provincia" (ngModelChange)="updateDistrictsAndProvinces()"
                                                id="provinceSelect" [options]="provinces"
                                                optionLabel="nombre_provincia"></p-dropdown>
                                        </div>
                                        <div class="formRegistro-group selectores col flex flex-column">
                                            <p-dropdown formControlName="distritoPaciente"
                                                [(ngModel)]="selectedDistrict" name="selectedDistrict"
                                                placeholder="Distrito" (ngModelChange)="updateDistrictsAndProvinces()"
                                                id="districtSelect" [options]="districts"
                                                optionLabel="nombre_distrito"></p-dropdown>
                                        </div>
                                        <span class="p-float-label">
                                            <input pInputText formControlName="direccion" />
                                            <label htmlFor="username">Direccion</label>
                                        </span>
                                    </div>
                                </p-fieldset>
                            </div>
                            <div class="mb-2" *ngIf="!porGoogle">
                                <p-fieldset>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center text-primary">
                                            <span class="pi pi-user mr-2"></span>
                                            <span class="font-bold text-lg">Datos de usuario</span>
                                        </div>
                                    </ng-template>
                                    <span class="p-float-label">
                                        <input pInputText formControlName="username" />
                                        <label htmlFor="username">Nombre de usuario</label>
                                    </span>
                                    <span class="p-float-label">
                                        <!-- <input pInputText formControlName="password" /> -->
                                        <p-password  formControlName="password" [toggleMask]="true" [style]="{width: '100%'}"></p-password>
                                        <label htmlFor="username">Contraseña</label>
                                    </span>
                                    <!-- <span class="p-float-label">
                                        <input pInputText formControlName="apellidos" />
                                        <label htmlFor="username">Repetir contraseña</label>
                                    </span> -->
                                </p-fieldset>
                            </div>
                        </div>
                    </div>
                    <button pButton pRipple label="Registrarme" icon="pi pi-check-circle" class="w-full"
                        (click)="registrar()"
                        [style]="{backgroundColor:'var(--color-prin)', color: '#ffffff'}"></button>
                    <div class="w-full flex justify-content-center mt-3">
                        <a routerLink="/login">Inicia Sesion</a>
                    </div>
                </div>
                <div *ngIf="!porCorreo" class="flex align-items-center justify-content-center">
                    <div class=" flex-column w-7">
                        <div class="w-full">
                            <div class="mb-2 mt-3">
                                <span class="p-float-label">
                                    <p-toast></p-toast>
                                    <input pInputText formControlName="correo" ngbFormControl
                                        [class.is-invalid]="formRegistro.get('correo')?.invalid && formRegistro.get('correo')?.touched"
                                        [class.ngb-invalid]="formRegistro.get('correo')?.invalid && formRegistro.get('correo')?.touched">
                                    <div class="invalid-feedback">
                                        <div *ngIf="formRegistro.get('correo')?.hasError('required')">Campo requerido.</div>
                                        <div *ngIf="formRegistro.get('correo')?.hasError('email')">El correo ingresado no es
                                            correcto.</div>
                                    </div>
                                    <label htmlFor="username">Correo electrónico</label>
                                </span>
                            </div>
                        </div>
                        <button pButton pRipple label="Siguiente" icon="pi pi-check-circle" class="w-full mb-5"
                            [style]="{backgroundColor:'var(--color-prin)', color: '#ffffff'}"
                            (click)="verificarEmail(this.formRegistro.value['correo'])"></button>
                        <p-button styleClass="p-button-outlined w-full mb-5"
                            [style]="{backgroundColor:'white', color: '#000000'}" (click)="signInWithGoogle()">
                            <img alt="google-icono" src="/assets/imgs_login/google-icon.png" style="width: 1.5rem" />
                            <span class="ml-2 font-bold">Registrate con Google</span>
                        </p-button>
                        <div class="w-full flex justify-content-center">
                            <a routerLink="/login">Inicia Sesion</a>
                        </div>
                    </div>
                </div>
            </formRegistro>
        </div>
    </div>
</section>