<section style="background-color: white;" class="p-3">
  <div class="flex justify-content-center m-5">
    <!-- Primero verifica si esta logeado o no, si no esta logeado, entonces Login -->
    <div *ngIf="!logeado" class="formulario">
      <app-session></app-session>
    </div>
    <!-- Primero verifica si esta logeado o no, si no esta logeado, entonces Login -->
    <div *ngIf="logeado" class="grid" style="width: 100%;">
      <form action="" class="col-12 flex" [formGroup]="form" #frmUser="ngForm">
        <div class="col-6">
          <div class="mb-2 mt-3">
            <p-fieldset>
              <ng-template pTemplate="header">
                <div class="flex align-items-center text-primary">
                  <span class="pi pi-user mr-2"></span>
                  <span class="font-bold text-lg">Datos de usuario</span>
                </div>
              </ng-template>
              <span class="p-float-label">
                <input pInputText  formControlName="nombre" required ngbFormControl
                [class.is-invalid]="form.get('nombre')?.invalid && form.get('nombre')?.touched"
                [class.ngb-invalid]="form.get('nombre')?.invalid && form.get('nombre')?.touched">
                <label htmlFor="username">Nombres</label>
              </span>
              <span class="p-float-label">
                <input pInputText  formControlName="apellidos" required ngbFormControl
                [class.is-invalid]="form.get('apellidos')?.invalid && form.get('apellidos')?.touched"
                [class.ngb-invalid]="form.get('apellidos')?.invalid && form.get('apellidos')?.touched">
                <label htmlFor="username">Apellidos</label>
              </span>
            </p-fieldset>
          </div>
          <div class="mb-2 mt-3">
            <p-fieldset>
              <ng-template pTemplate="header">
                <div class="flex align-items-center text-primary">
                  <span class="pi pi-user mr-2"></span>
                  <span class="font-bold text-lg">Datos de contacto</span>
                </div>
              </ng-template>
              <span class="p-float-label">
                <input pInputText formControlName="celular" required ngbFormControl
                [class.is-invalid]="form.get('celular')?.invalid && form.get('celular')?.touched"
                [class.ngb-invalid]="form.get('celular')?.invalid && form.get('celular')?.touched">
                <label htmlFor="username">Número de celular</label>
              </span>
              <span class="p-float-label">
                <input pInputText  formControlName="correo" required ngbFormControl
                [class.is-invalid]="form.get('correo')?.invalid && form.get('correo')?.touched"
                [class.ngb-invalid]="form.get('correo')?.invalid && form.get('correo')?.touched">
            <div class="invalid-feedback">
              <div *ngIf="form.get('correo')?.hasError('required')">Campo requerido.</div>  
              <div *ngIf="form.get('correo')?.hasError('email')">El correo ingresado no es correcto.</div>
            </div>
                <label htmlFor="username">Correo electrónico</label>
              </span>
            </p-fieldset>
          </div>
        </div>
        <div class="col-6">
          <p-fieldset>
            <ng-template pTemplate="header">
              <div class="flex align-items-center text-primary">
                <span class="pi pi-user mr-2"></span>
                <span class="font-bold text-lg">Datos de Direccion</span>
              </div>
            </ng-template>
            <div class="col-12">
              <div class="form-group selectores col flex flex-column">
                <p-dropdown formControlName="departamentoPaciente" [(ngModel)]="selectedDepartment"
                  name="selectedDepartment" placeholder="Departamento" (ngModelChange)="updateDistrictsAndProvinces()"
                  id="departmentSelect" [options]="departments" optionLabel="nombre_departamento"></p-dropdown>
              </div>
              <div class="form-group selectores col flex flex-column">
                <p-dropdown formControlName="provinciaPaciente" [(ngModel)]="selectedProvince" name="selectedProvince"
                  placeholder="Provincia" (ngModelChange)="updateDistrictsAndProvinces()" id="provinceSelect"
                  [options]="provinces" optionLabel="nombre_provincia"></p-dropdown>
              </div>
              <div class="form-group selectores col flex flex-column">
                <p-dropdown formControlName="distritoPaciente" [(ngModel)]="selectedDistrict" name="selectedDistrict"
                  placeholder="Distrito" (ngModelChange)="updateDistrictsAndProvinces()" id="districtSelect"
                  [options]="districts" optionLabel="nombre_distrito"></p-dropdown>
              </div>
              <span class="p-float-label">
                <input pInputText  formControlName="direccion" required ngbFormControl
                [class.is-invalid]="form.get('direccion')?.invalid && form.get('direccion')?.touched"
                [class.ngb-invalid]="form.get('direccion')?.invalid && form.get('direccion')?.touched">
                <label htmlFor="username">Direccion de entrega</label>
              </span>
            </div>
          </p-fieldset>
        </div>
      </form>
    </div>
  </div>

  <div class="flex justify-content-center botfin">
    <p-button label="Guardar Datos" icon="pi pi-tag" iconPos="right" (onClick)="evaluar()"
      [style]="{backgroundColor:'#000000', color: '#E5E5E5', padding : '15px 30px', margin: '0px 100px'}"></p-button>
    <p-button label="Agregar más Productos" icon="pi pi-tag" iconPos="right" routerLink="/store"
      [style]="{backgroundColor:'#000000', color: '#E5E5E5', padding : '15px 30px', margin: '0px 100px'}"></p-button>
  </div>
</section>