/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Signika:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: var(--Titulo);
    font-size: var(--Subtitulo-size);
    scroll-behavior:smooth;
}

:root {
    --Titulo: 'Sen', sans-serif;
    --Titulo-size: 40px;
    --Subtitulo: 'Signika', sans-serif;
    --Subtitulo-size: 16px;
    --Parrafo: 'Kumbh Sans',sans-serif;
    --Parrafo-size: 14px;
}

ofsystem>a:link,
ofsystem>a:visited,
ofsystem>a:active,
ofsystem>a:hover {
    text-decoration: none;
    color: #003261 !important;
    font-size: 14px;
}

/* ------------------------------------------------------------------- 
     * ## colors 
     * ------------------------------------------------------------------- */
:root {
    --color-prin: #00BC97;
    --color-secu: #0D1821;
    --color-terci: #344966;
    --color-white: #ffffff;
}


section, body{
    background-color: #F9F9F9;
}

element.style {
    transform: translate3d(-1176px, 0px, 0px);
    transition: all 1.2s ease 0s;
    width: 3924px;
}
element.style {
    transform: translate3d(-1346px, 0px, 0px);
    transition: all 1.2s ease 0s;
    width: 2693px;
  }
  element.style {
    width: 244.219px;
    margin-right: 25px;
  }