/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: var(--Titulo);
    font-size: var(--Titulo-size);
    scroll-behavior:smooth;
}

:root {
    --Titulo: 'Kumbh Sans',sans-serif;
    --Titulo-size: 18px;
    --Subtitulo: Signika;
    --Subtitulo-size: 16px;
    --Parrafo: Signika;
    --Parrafo-size: 14px;
}

ofsystem>a:link,
ofsystem>a:visited,
ofsystem>a:active,
ofsystem>a:hover {
    text-decoration: none;
    color: #003261 !important;
    font-size: 14px;
}

/* ------------------------------------------------------------------- 
     * ## colors 
     * ------------------------------------------------------------------- */
:root {
    --color-prin: #00BC97;
    --color-secu: #0D1821;
    --color-terci: #344966;
    --color-white: #ffffff;
}
